h1 {
  font-family: "Monoton", cursive;
  color: #ADFF2F;
  font-size: 120px;
  text-align: center;
  margin-bottom: 1px;
}
body {
  font-weight: 100;
  font-size: 20px;
  color: #ADFF2F;
  text-align: center;
  background-color: #191970;
  font-family: "Krona One", sans-serif;
  background-image: url 
  background-size: cover;
  background-size: 100%;
  background-position: absolute;
  background-repeat: no-repeat;
}
.container {
  width: 100%;
}

/* Resize images */
.container img {
  width: 30%;
  height: auto;
  margin: 0 auto;
  max-width: 200px;
}
