h1 {
  font-family: 'Grechen Fuemen', cursive;
  color: #ADFF2F;
  font-size: 120px;
  text-align: center;
}
body {
  font-weight: 100;
  font-size: 20px;
  color: #ADFF2F;
  text-align: center;
  background-color:#191970;
  font-family: 'Questrial', sans-serif;
  
}
.container {
    width: 100%;
    height: 500px;
}

/* Resize images */
.container img {
    width: 70%;
    height: auto;
  margin:0 auto;
}