h1 {
    font-family: 'Grechen Fuemen', cursive;
    color: #ADFF2F;
    font-size: 120px;
    text-align: center;
  }
  body {
    font-weight: 100;
    font-size: 20px;
    color: #ceff84;
    text-align: center;
    background-color:#191970;
    font-family: 'Questrial', sans-serif;
    
  }